Client/Service References/Service/Service121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://test" elementFormDefault="qualified" targetNamespace="http://test" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1622/Service1.svc?xsd=xsd1" namespace="http://smev.gosuslugi.ru/rev120315" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://smev.gosuslugi.ru/rev120315" minOccurs="0" maxOccurs="1" ref="q1:Message" />
        <xs:element xmlns:q2="http://smev.gosuslugi.ru/rev120315" minOccurs="0" maxOccurs="1" ref="q2:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="request" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="responce" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://smev.gosuslugi.ru/rev120315" minOccurs="0" maxOccurs="1" ref="q3:Message" />
        <xs:element xmlns:q4="http://smev.gosuslugi.ru/rev120315" minOccurs="0" maxOccurs="1" ref="q4:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>